<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">

</head>

<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>

	<div class="container">
		<center>

			<form th:action="@{/deneme/sinava}" th:object="${deneme}" method="post">
			
			<input type="text"  th:value="${deneme.test.tId}"     name="www" />
			
			
			

				<div th:object="${deneme}">


					<div th:each=" sayi ,iStat : ${deneme.sayi}">



						<!--	<input type="hidden" th:value="${deneme.sorular[0].soru.qId}" th:attr="name='qId'" /> -->
						<div class="row">
							<p class="card-text" th:text="${deneme.sorular[sayi].soru.qtext}">

						</div>
						<div class="row">


							<div class="col-md-auto"  th:each="cevaplar: ${deneme.sorular[sayi].cevaplar}">

								<input type="checkbox" name="cern" th:value="${cevaplar.id}" />






								<label th:text="${cevaplar.atext}"></label></div>


						</div>

					</div>

					<!--<div class="row">

						<p class="card-text" th:text="${deneme.sorular[0].soru.qtext}">

							<input type="hidden" th:value="${deneme.sorular[0].soru.qId}" th:attr="name='qId'" />


						<ul>
							<li th:each="cevaplar: ${deneme.sorular[0].cevaplar}"><input type="checkbox"
									th:field="${deneme.sorular[0].kullanıcıcevabıo}" th:value="${cevaplar.id}" /> <label
									th:text="${cevaplar.atext}"></label></li>
						</ul>


					</div>



					<div class="row">

						<p class="card-text" th:text="${deneme.sorular[1].soru.qtext}"></p>
						<input type="hidden" th:value="${deneme.sorular[1].soru.qId}" th:attr="name='qId'" />


						<ul>
							<li th:each="cevaplar: ${deneme.sorular[1].cevaplar}"><input type="checkbox"
									      th:field="${deneme.sorular[1].kullanıcıcevabıo}" th:value="${cevaplar.id}" /> <label
									th:text="${cevaplar.atext}"></label></li>
						</ul>


					</div>
					<div class="row">

						<p class="card-text" th:text="${deneme.sorular[2].soru.qtext}"></p>
						<input type="hidden" th:value="${deneme.sorular[2].soru.qId}" th:attr="name='qId'" />


						<ul>
							<li th:each="cevaplar: ${deneme.sorular[2].cevaplar}"><input type="checkbox"
									th:field="${deneme.sorular[2].kullanıcıcevabıo}" th:value="${cevaplar.id}" /> <label
									th:text="${cevaplar.atext}"></label></li>
						</ul>

					</div>


					<button class="btn btn-primary" type="submit">next</button>

-->

				</div>

				<div class="col-md-12 text-center">

					<button class="btn btn-primary" type="submit">finish exam</button>
				</div>
			</form>



		</center>

	</div>


</body>

</html>