<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">

</head>

<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>

	<div class="container">
		<center>

			<form th:action="@{/deneme/sinava}" th:object="${deneme}" method="post">

				<p>sınavın sona erdi.sonuclar </p>

				<div class="row">
					<div class="col-sm">
						<p>soru sayisi</p>
					</div>
					<div class="col-sm">
						<p th:text="${sorusayisi}"> </p>
						</p>
					</div>



				</div>
				<div class="row">
					<div class="col-sm">
						<p>dogru cveap sayisi</p>
					</div>
					<div class="col-sm">
						<p th:text=" ${trueCount}"> </p>
					</div>

				</div>
				<div class="row">
					<div class="col-sm">
						<p>notunuz</p>
					</div>
					<div class="col-sm">
						<p th:text="  ${score}"> </p>
					</div>



				</div>










				<button class="btn btn-primary" type="submit">next</button>

			</form>



		</center>

	</div>


</body>

</html>